div{
  font-size: 30px;
  padding: 15px;
  background-color: cornflowerblue;
  border: 2px solid black;
}
.sizes {
  width: 100px;
  height: 100px;
}

section{
  /* position: relative; */
  /* width: fit-content; */
  /* margin: 0 auto; */
  height: 300vh;
  border: 1px solid crimson;
}
.pos {
  position: fixed;
  left: 50px;
  right: 50px;
  top: 50px;
  bottom: 50px;
}
.z-index0{
  z-index: 2;
}
.z-index1{
  position: relative;
  z-index: 1;
}
.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
